/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe6537; color: #fff; text-shadow: none; }
::selection { background: #fe6537; color: #fff; text-shadow: none; }

a { color: #fff; -webkit-transition: all 0.25s; }
a:visited { color: #fff; }
a:hover { color: rgb(15,40,48); }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* ==|== primary styles ===================================================== */

@font-face {
	font-family: 'KomikaTitleRegular';
	src: url('../fonts/KomikaTitle-webfont.eot');
	src: url('../fonts/KomikaTitle-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/KomikaTitle-webfont.woff') format('woff'),
		 url('../fonts/KomikaTitle-webfont.ttf') format('truetype'),
		 url('../fonts/KomikaTitle-webfont.svg#KomikaTitleRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'KomikaTitle-PaintRegular';
	src: url('../fonts/KomikaTitle-Paint-webfont.eot');
	src: url('../fonts/KomikaTitle-Paint-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/KomikaTitle-Paint-webfont.woff') format('woff'),
		 url('../fonts/KomikaTitle-Paint-webfont.ttf') format('truetype'),
		 url('../fonts/KomikaTitle-Paint-webfont.svg#KomikaTitle-PaintRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'KomikaTitleWideRegular';
	src: url('../fonts/KomikaTitle-Wide-webfont.eot');
	src: url('../fonts/KomikaTitle-Wide-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/KomikaTitle-Wide-webfont.woff') format('woff'),
		 url('../fonts/KomikaTitle-Wide-webfont.ttf') format('truetype'),
		 url('../fonts/KomikaTitle-Wide-webfont.svg#KomikaTitleWideRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'KomikaTitleAxisRegular';
	src: url('../fonts/KomikaTitle-Axis-webfont.eot');
	src: url('../fonts/KomikaTitle-Axis-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/KomikaTitle-Axis-webfont.woff') format('woff'),
		 url('../fonts/KomikaTitle-Axis-webfont.ttf') format('truetype'),
		 url('../fonts/KomikaTitle-Axis-webfont.svg#KomikaTitleAxisRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'KomikaTitleKapsRegular';
	src: url('../fonts/KomikaTitle-Kaps-webfont.eot');
	src: url('../fonts/KomikaTitle-Kaps-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/KomikaTitle-Kaps-webfont.woff') format('woff'),
		 url('../fonts/KomikaTitle-Kaps-webfont.ttf') format('truetype'),
		 url('../fonts/KomikaTitle-Kaps-webfont.svg#KomikaTitleKapsRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'DigitalDreamsFat';
	src: url('../fonts/DIGITALDREAMFAT-webfont.eot');
	src: url('../fonts/DIGITALDREAMFAT-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/DIGITALDREAMFAT-webfont.woff') format('woff'),
		 url('../fonts/DIGITALDREAMFAT-webfont.ttf') format('truetype'),
		 url('../fonts/DIGITALDREAMFAT-webfont.svg#DIGITALDREAMFAT') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSans-Light-webfont.eot');
	src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansLightItalic';
	src: url('../fonts/OpenSans-LightItalic-webfont.eot');
	src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/OpenSans-Regular-webfont.eot');
	src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansItalic';
	src: url('../fonts/OpenSans-Italic-webfont.eot');
	src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/OpenSans-Semibold-webfont.eot');
	src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansSemiboldItalic';
	src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot');
	src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSans-Bold-webfont.eot');
	src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansBoldItalic';
	src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
	src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansExtrabold';
	src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
	src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansExtraboldItalic';
	src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
	src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

/* ==|== general page styles ================================================= */

body {
	background:  top center url(../img/bg-blue.png) repeat #80c1d6;
	background-image: url(../img/bg-blue.png), url(../img/bg-blue-splash.png);
	background-position: center top, center top;
	background-repeat: repeat, no-repeat;
	color: #fff;
	font-family: OpenSansSemibold, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4;
}
img {
	max-width: 100%;
	height: auto;
}

/* ==|== top navigation panel ================================================ */

nav {
	background: rgba(15,40,48,0.05);
	text-align: center;
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;
	right: 0;
	-webkit-transition: all 0.5s;
}
nav:hover {
	background: rgba(15,40,48,0.2);
}
nav li {
	display: inline;
}
nav a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 3px 5px;
	line-height: 32px;
	font-size: 12px;
}
nav a:hover,
nav a.current {
	color: #fff;
	background: rgba(15,40,48,0.1);
	border-radius: 16px;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
	box-shadow: inset 1px 1px 2px rgba(15,40,48,0.1),  1px 1px 2px rgba(255,255,255,0.1);
}

/* ==|== introduction ====================================================== */

header {
	text-align: center;
	margin-top: 70px;
}
@-webkit-keyframes logoanimation {
	0%   { -webkit-transform: scale(0) rotate(90deg); opacity: 0 }
	100%  { -webkit-transform: scale(1) rotate(0deg); opacity: 1 }
}
header h1 {
	background: top center url(../img/green-splash.png) no-repeat;
	-webkit-animation: 1s logoanimation ;
	-webkit-animation-fill-mode: both;
	background-size: contain;
}
header h1 span {
	background: top center url(../img/logo-white.png) no-repeat, top center url(../img/logo-orange.png) no-repeat;
	display: block;
	height: 425px;
	overflow: hidden;
	text-indent: -9999px;
	-webkit-animation: 1.5s logoanimation;
	background-size: contain, contain;
}
header h2 {
	color: #fe6537;
	font-size: 52px;
	font-family: KomikaTitle-PaintRegular, 'Comic Sans', sans-serif; /* comic sans ftw! ;) */
	font-weight: normal;
	text-shadow: 3px 3px 0 #fff;
	margin: 40px 0 0 0;
	-webkit-transition: all 0.25s;
}
header h2:hover {
	text-shadow: 7px 7px 0 #fff;
	margin: 38px 0 0 -2px;
	font-size: 60px
}
header p {
	font-size: 22px;
	margin: 10px auto 80px auto;
	width: 80%;
	-webkit-transition: all 0.25s;
}
header p:hover {
	-webkit-transform: scale(1.1);
}


/* ==|== common section styling ============================================ */

section h1 {
	font-family: KomikaTitle-PaintRegular, 'Comic Sans', sans-serif; /* comic sans ftw! ;) */
	font-weight: normal;
	font-size: 40px;
	text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
}
section h1 span {
	float: right;
	width: 50%;
	height: 40px;
	background:  top left url(../img/checks.png) repeat-x;
}
section {
	border-top: 7px solid rgba(0,0,0,0.08);
	border-bottom: 7px solid rgba(0,0,0,0.08);
}
section .inner {
	max-width: 960px;
	margin:  0 auto;
}

/* ==|== obstacles section ================================================= */

#obstacles {
	background-color: #fe6638;
	background-image: url(../img/bg-orange.png);
	background-position: center top;
	background-repeat: repeat;
}
#obstacles ul {
	list-style:  none;
	margin:  0;
	padding:  0;
	float: left;
	width: 50%;
}
#obstacles li {
	width: 45%;
	margin: 0 5% 5% 0;
	float: left;
	padding:  0;
	background-color: #80b238;
	background-image: url(../img/bg-green.png);
	background-position: center top;
	background-repeat: repeat;
	border-radius: 15px;
}
#obstacles li:hover {
	background-color: #eef13f;
	background-image: url(../img/bg-yellow.png);

}
#obstacles li.wheel,
#obstacles li.pick{
	clear: left;
}
#obstacles li a {
	display: block;
	padding:  80% 0px 10px;
	background-size: 60%;
	background:  50% 25% url(../img/obstacle-wheel.png) no-repeat;
	font-family: KomikaTitle-PaintRegular, 'Comic Sans', sans-serif; /* comic sans ftw! ;) */
	text-align: center;
	text-decoration: none;
}
#obstacles li a:hover {
	color: #f46034;
}
#obstacles li.wringer a {
	background-image:  url(../img/obstacle-wringer.png);
}
#obstacles li.pick a {
	background-image:  url(../img/obstacle-pick.png);
}
#obstacles li.slide a {
	background-image:  url(../img/obstacle-slide.png);
}
#obstacles li.hatch a {
	background-image:  url(../img/obstacle-hatch.png);
}
#obstacles li.tank a {
	background-image:  url(../img/obstacle-tank.png);
}
#obstacles .panel {
	float: right;
	width: 50%;
	overflow:  hidden;
}
#obstacles .panel .inner {
	width: 600%;
	max-width: none;
	margin: 0;
}
#obstacles .panel .inner div {
	float: left;
	width: 16.666%;
	background:  top center url(../img/green-splash-small.png) no-repeat;
}
#obstacles .panel .inner div h2,
#obstacles .panel .inner div p {
	font-family: KomikaTitle-PaintRegular, 'Comic Sans', sans-serif; /* comic sans ftw! ;) */
	font-size: 40px;
	font-weight: normal;
	padding-top: 20px;
	margin:  0;
	text-shadow: 3px 3px 0 rgba(0,0,0,0.2);
	-webkit-transform: rotate(-8deg);
	text-align: center;
}
#obstacles .panel .inner div p {
	font-size: 21px;
	margin: -15px 0 0 0;
}

/* ==|== prizes section ==================================================== */

#prizes {
	background-color: #80b238;
	background-image: url(../img/bg-green.png);
	background-position: center top;
	background-repeat: repeat;
}

/* ==|== be a contestant section =========================================== */

form {

}
fieldset {

}
.countdown {
	font-family: DigitalDreamsFat, Courier New, monospace;
	font-size: 120px;
	line-height: 320px;
	text-shadow: 3px 3px rgba(0,0,0,0.8);
	font-weight: normal;
	background: top center url(../img/timer.png) no-repeat;
	background-size: 100% auto;
	float: right;
	width: 25%;
	text-align: center;
}

/* ==|== page footer ======================================================= */

footer {
	margin-top: -45px;
	text-align: center;
}
footer h1 {
	font-size: 20px;
}
.warnings,
.vcard {
	width: 620px;
	margin: 0 auto;
}
.warnings p,
.vcard .adr {
	margin: 0 0 0;
	width: 300px;
}
.warnings p:first-child,
.vcard .adr {
	text-align: right;
	float: left;
}
.warnings p:last-child,
.vcard .adr:last-child {
	text-align: left;
	float: right;
}
.licence {
	border-top: 7px solid rgba(0,0,0,0.08);
}

/* ==|== non-semantic helper classes ======================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {
	nav a {
		font-size: 18px;
		padding: 0 10px;
	}
	nav a[href="#top"]:before {
		content: "Back to "
	}

}

@media only screen and (min-width: 768px) {

}

/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
