/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe6537; color: #fff; text-shadow: none; }
::selection { background: #fe6537; color: #fff; text-shadow: none; }

a { color: #fff; -webkit-transition: all 0.25s; }
a:visited { color: #fff; }
a:hover { color: rgb(15,40,48); }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* ==|== primary styles ===================================================== */

@font-face {
	font-family: 'KomikaTitle-PaintRegular';
	src: url('../fonts/KomikaTitle-Paint-webfont.eot');
	src: url('../fonts/KomikaTitle-Paint-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/KomikaTitle-Paint-webfont.woff') format('woff'),
		 url('../fonts/KomikaTitle-Paint-webfont.ttf') format('truetype'),
		 url('../fonts/KomikaTitle-Paint-webfont.svg#KomikaTitle-PaintRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'DigitalDreamsFat';
	src: url('../fonts/DIGITALDREAMFAT-webfont.eot');
	src: url('../fonts/DIGITALDREAMFAT-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/DIGITALDREAMFAT-webfont.woff') format('woff'),
		 url('../fonts/DIGITALDREAMFAT-webfont.ttf') format('truetype'),
		 url('../fonts/DIGITALDREAMFAT-webfont.svg#DIGITALDREAMFAT') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/OpenSans-Semibold-webfont.eot');
	src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansSemiboldItalic';
	src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot');
	src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

/* ==|== general page styles ================================================= */

body {
	background:  top center url(../img/bg-blue.png) repeat #80c1d6;
	background-image: url(../img/bg-blue.png), url(../img/bg-blue-splash.png);
	background-position: center top, center top;
	background-repeat: repeat, no-repeat;
	color: #fff;
	font-family: OpenSansSemibold, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4;
}
img {
	max-width: 100%;
	height: auto;
}
h1, h2 {
	font-family: KomikaTitle-PaintRegular, 'Comic Sans', sans-serif; /* comic sans ftw! ;) */
	font-weight: normal;
}

/* ==|== top navigation panel ================================================ */

nav {
	background: rgba(15,40,48,0.05);
	text-align: center;
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;
	right: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
nav:hover {
	background: rgba(15,40,48,0.4);
}
nav li {
	display: inline;
}
nav a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 3px 5px;
	line-height: 32px;
	font-size: 12px;
}
nav a:hover,
nav a.selected {
	color: #fff;
	background: rgba(15,40,48,0.1);
	border-radius: 16px;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
	-webkit-box-shadow: inset 1px 1px 2px rgba(15,40,48,0.1),  1px 1px 2px rgba(255,255,255,0.1);
	   -moz-box-shadow: inset 1px 1px 2px rgba(15,40,48,0.1),  1px 1px 2px rgba(255,255,255,0.1);
	    -ms-box-shadow: inset 1px 1px 2px rgba(15,40,48,0.1),  1px 1px 2px rgba(255,255,255,0.1);
	     -o-box-shadow: inset 1px 1px 2px rgba(15,40,48,0.1),  1px 1px 2px rgba(255,255,255,0.1);
	        box-shadow: inset 1px 1px 2px rgba(15,40,48,0.1),  1px 1px 2px rgba(255,255,255,0.1);
}

/* ==|== introduction ====================================================== */

header {
	text-align: center;
	padding: 0px;
}
@-webkit-keyframes logoanimation {
	0%   { -webkit-transform: scale(0) rotate(90deg); opacity: 0 }
	100%  { -webkit-transform: scale(1) rotate(0deg); opacity: 1 }
}
@-moz-keyframes logoanimation {
	0%   { -moz-transform: scale(0) rotate(90deg); opacity: 0 }
	100%  { -moz-transform: scale(1) rotate(0deg); opacity: 1 }
}

header h1 {
	margin-top: 60px;
	background: top center url(../img/green-splash.png) no-repeat;
	background-size: contain;
	overflow:  hidden;
	webkit-transform-origin: 50% 50%;
	-webkit-animation: 0.75s logoanimation;
	   -moz-animation: 0.75s logoanimation;
		    animation: 0.75s logoanimation;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
		    animation-fill-mode: both;
}
header h1 span {
	background: top center url(../img/logo-white.png) no-repeat, top center url(../img/logo-orange.png) no-repeat;
	display: inline-block;
	height: 425px;
	max-width: 500px;
	width: 100%;
	overflow: hidden;
	text-indent: -9999px;
	webkit-transform-origin: 50% 50%;

	-webkit-animation: 1.5s logoanimation;
	   -moz-animation: 1.5s logoanimation;
			animation: 1.5s logoanimation;
	background-size: contain, contain;
	-webkit-transition: all 0.25s;
	   -moz-transition: all 0.25s;
	        transition: all 0.25s;
}
header h1 span:hover {
	-webkit-transform: rotate(5deg) scale(1.2);
	   -moz-transform: rotate(5deg) scale(1.2);
	        transform: rotate(5deg) scale(1.2);
}

header h2 {
	color: #fe6537;
	font-size: 52px;
	font-family: KomikaTitle-PaintRegular, 'Comic Sans', sans-serif; /* comic sans ftw! ;) */
	font-weight: normal;
	text-shadow: 3px 3px 0 #fff;
	margin: 0;
	position: relative;
	-webkit-transition: all 0.25s;
	   -moz-transition: all 0.25s;
		    transition: all 0.25s;
}
header h2:hover {
	text-shadow: 2px 2px 0 #c8502d, 5px 7px 0 #fff,  4px 6px 0 #fff,  3px 5px 0 #fff, 2px 4px 0 #fff,  1px 3px 0 #fff ;
	top: -3px;
	left: -2px;

}
header p {
	font-size: 22px;
	margin: 10px auto 0px auto;
	width: 80%;
	-webkit-transition: all 0.25s;
	   -moz-transition: all 0.25s;
	        transition: all 0.25s;
}
header p:hover {
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	        transform: scale(1.1);
	color: #fff;
	text-shadow: 0px 2px 0 rgba(0,0,0,0.3) ;

}


/* ==|== common section styling ============================================ */

section h1 {
	font-size: 40px;
	text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
	margin: 40px 0 60px 0;
	background: 100% 10px url(../img/checks.png) no-repeat;
}
section {
	border-top: 7px solid rgba(0,0,0,0.08);
	border-bottom: 7px solid rgba(0,0,0,0.08);
}
section .inner {
	max-width: 940px;
	margin:  0 auto;
}

/* ==|== obstacles section ================================================= */

#obstacles {
	background-color: #fe6638;
	background-image: url(../img/bg-orange.png);
	background-position: center top;
	background-repeat: repeat;
}
#obstacles h1 {
	background-position: 280px 10px;
}

#obstacles ul {
	list-style:  none;
	margin:  0;
	padding:  0;
	float: left;
	width: 50%;
}
#obstacles li {
	width: 45%;
	margin: 0 5% 5% 0;
	float: left;
	padding:  0;
	background-color: #80b238;
	background-image: url(../img/bg-green.png);
	background-position: center top;
	background-repeat: repeat;
	border-radius: 15px;
	-webkit-transition: all 0.5s;
}
#obstacles li:hover,
#obstacles li.selected {
	background-color: #eef13f;
	background-image: url(../img/bg-yellow.png);

}
#obstacles li.wheel,
#obstacles li.pick{
	clear: left;
}
#obstacles li a {
	display: block;
	padding:  80% 0px 10px;
	background-size: 65%;
	background:  50% 25% url(../img/obstacle-wheel.png) no-repeat;
	font-family: KomikaTitle-PaintRegular, 'Comic Sans', sans-serif; /* comic sans ftw! ;) */
	text-align: center;
	text-decoration: none;
}
#obstacles li a:hover,
#obstacles li.selected a{
	color: #f46034;
}
#obstacles li.wringer a {
	background-image:  url(../img/obstacle-wringer.png);
	background-size: 65%;
}
#obstacles li.pick a {
	background-image:  url(../img/obstacle-pick.png);
	background-size: 65%;
}
#obstacles li.slide a {
	background-image:  url(../img/obstacle-slide.png);
	background-size: 50%;
}
#obstacles li.hatch a {
	background-image:  url(../img/obstacle-hatch.png);
	background-size: 50%;
}
#obstacles li.tank a {
	background-image:  url(../img/obstacle-tank.png);
	background-size: 65%;
	background-position: 50% 35%
}
#obstacles .panel {
	float: right;
	width: 50%;
	overflow:  hidden;
}
#obstacles .panel .inner {
	width: 605%;
	max-width: none;
	margin: 0;
}
#obstacles .panel .inner div {
	float: left;
	width: 16%;
	margin-right: 0.66%;
	background:  top center url(../img/green-splash-small.png) no-repeat;
	text-align: center;

}
#obstacles .panel .inner div h2,
#obstacles .panel .inner div p {
	font-family: KomikaTitle-PaintRegular, 'Comic Sans', sans-serif; /* comic sans ftw! ;) */
	font-size: 40px;
	font-weight: normal;
	padding-top: 20px;
	margin:  0;
	text-shadow: 3px 3px 0 rgba(0,0,0,0.2);
	-webkit-transform: rotate(-8deg);
}
#obstacles .panel .inner div p {
	font-size: 21px;
	margin: -15px 0 0 0;
}
#obstacles .panel .inner div img {
	max-width: 80%;
}

/* ==|== prizes section ==================================================== */

#prizes {
	background-color: #80b238;
	background-image: url(../img/bg-green.png);
	background-position: center top;
	background-repeat: repeat;
}
#prizes ul {
	list-style:  none;
	margin: 0;
	padding:  0;
}
#prizes li {
	width: 50%;
	float: left;
	position: relative;
	text-align: center;
}
#prizes li h2 {
	font-size: 16px;
}
#prizes li p {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity = 0);
	-webkit-transition: opacity 0.5s;
	   -moz-transition: opacity 0.5s;
	    -ms-transition: opacity 0.5s;
	     -o-transition: opacity 0.5s;
	        transition: opacity 0.5s;
	bottom: 3em;
	left: 10%;
	right: 10%;
	background-color: #80c1d6;
	background-image: url(../img/bg-blue.png);
	border-radius: 10px;
	border:  2px solid  rgba(0,0,0,0.2);
	padding: 10px 20px;
	font-size: 16px;
	-moz-box-shadow: 3px 3px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 3px 3px 0px rgba(0,0,0,0.5);
	-ms-box-shadow: 3px 3px 0px rgba(0,0,0,0.5);
	-o-box-shadow: 3px 3px 0px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 0px rgba(0,0,0,0.5);
}
.oldie #prizes li p {
	border: 2px solid #70b1c6;
	border-bottom: 2px solid #447b8c;
	border-right: 2px solid #447b8c;
}
#prizes li:hover p {
	opacity: 1;
	filter: alpha(opacity = 100);
}
#prizes li img,
#prizes li h2 {
	-webkit-transition: all 0.5s;
}

#prizes li:hover img {
	-webkit-transform: scale(1.1);
}
#prizes li:hover h2 {
	-webkit-transform: scale(1.5);
}
.keyboard {
	clear: left;
	top:90px;
}
.tv {
	top: -110px;
}


/* ==|== be a contestant section =========================================== */

#participate {
	border-bottom: 0;
}
#participate .inner {
	padding-bottom: 110px;
	border-bottom: 7px solid rgba(0,0,0,0.08);
}

#participate h1 {
	background-position: 420px 10px;
}

form {
	float: left;
	width: 42%;
}
input,
textarea,
input:invalid,
textarea:invalid {
	background-color: #fe6638;
	background-image: url(../img/bg-orange.png);
	background-position: center top;
	background-repeat: repeat;
	border:  0;
	border-radius: 5px;
	color: #fff;
	font-family: KomikaTitle-PaintRegular, 'Comic Sans', sans-serif; /* comic sans ftw! ;) */
	padding:  8px 10px;
	font-size: 16px;
	width: 90%;
}
::-webkit-input-placeholder {
	color: #fff;
}
:-moz-placeholder {
	color: #fff;
}
form button {
	background:  top center url(../img/green-splash-small.png) no-repeat;
	background-size: contain;
	font-family: KomikaTitle-PaintRegular, 'Comic Sans', sans-serif; /* comic sans ftw! ;) */
	color: #fff;
	border:  0;
	width: 90%;
}
form button span {
	text-shadow: 3px 3px 0 rgba(0,0,0,0.2);
	-webkit-transform: rotate(-8deg);
	display: block;
	font-size: 26px;
	padding:  50px 0;
}
.countdown {
	font-family: DigitalDreamsFat, Courier New, monospace;
	font-size: 120px;
	line-height: 320px;
	text-shadow: 3px 3px rgba(0,0,0,0.8);
	font-weight: normal;
	background: top center url(../img/timer.png) no-repeat;
	background-size: contain;
	float: right;
	width: 50%;
	text-align: center;
}
.done {
	background: top center url(../img/green-splash.png) no-repeat, top center url(../img/timer.png) no-repeat;
}
#participate h2 {
	clear: right;
	width: 25%;
	padding: 0 11.5%;
	float: right;
	text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
	font-size: 40px;
	text-align: center;
}

/* ==|== page footer ======================================================= */

footer {
	max-width: 940px;
	margin: -45px auto 0 auto;
	text-align: center;
}
footer h1 {
	font-size: 20px;
}
.warnings,
.vcard {
	width: 620px;
	margin: 0 auto;
}
.warnings p,
.vcard .adr {
	margin: 0 0 0;
	width: 300px;
}
.warnings p:first-child,
.vcard .adr {
	text-align: right;
	float: left;
}
.warnings p:last-child,
.vcard .adr:last-child {
	text-align: left;
	float: right;
}
.licence {
	border-top: 7px solid rgba(0,0,0,0.08);
}

/* ==|== non-semantic helper classes ======================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {
	nav a {
		font-size: 18px;
		padding: 0 10px;
	}
	nav a[href="#top"]:before {
		content: "Back to "
	}

}

@media only screen and (min-width: 768px) {

}

/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
